<h1> <%= @cocktail.name %> </h1>
<h2>ingredients:</h2>
<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
<% @cocktail.doses.each do |dose| %>
<%= dose.description %>
<%= dose.ingredient.name %>
<%= link_to 'delete this ingredient', cocktail_dose_path(@cocktail, dose), method: :delete,
      data: { confirm: "Are you sure?" } %> <br>
<% end %>
<%= link_to 'add ingredient', new_cocktail_dose_path(@cocktail) %> <br>
<%=link_to 'delete this cocktail', cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure?" } %> <br>
<%= link_to 'main page', cocktails_path %>
